= form_for task do |form|
  %fieldset.row-fluid
    .btn-group{"style" => "position: relative", "ng-init" => "preloadCity(#{current_person_cid})", 'ng-controller' => 'CitySelector'}
      %a.btn.dropdown-toggle{"href" => "#", "ng-click" => "cityComboBoxOpen = !cityComboBoxOpen", "ng-class" => "activeIf(cityComboBoxOpen)"}
        %input{"type" => "hidden", "value" => "{{selectedCity.cid}}", "name" => "task[cid]"}
        {{selectedCity.title}}
        %span.caret
      %ul.dropdown-menu{"style" => true, "ng-show" => 'cityComboBoxOpen'}
        %li
          %input{"type" => "text", "ng-model" => "citySearch", "placeholder" => 'Введите город', "style" => "width: "}
        %li{"ng-repeat" => "city in loadedCities"}
          %a{"href" => "#", "ng-click" => "selectCity(city)"}
            %ul.unstyled
              %li {{city.title}}
              %li
                %small {{city.region}}
          %hr
    %br
    %br
    = form.label :title, 'Название'
    = form.text_field :title, class: 'span12'

    = form.label :description, 'Описание'
    = form.text_area :description, rows: 6, class: 'span12'
    
    = form.label :tag_list, 'Список тегов'
    %div{'ng-controller' => 'TagInput', 'ng-init' => "tags = #{task.tags}"}
      .input-append
        = form.hidden_field :tag_list, value: '{{tags.join()}}'
        %input.span12{"type" => "text", "ng-model" => "tagInput", "placeholder" => 'Добавьте новый тег'}
        %a.btn{"href" => "#", 'ng-click' => 'add(tagInput)'}
          %i.icon-plus
      %ul.inline.tags-cloud
        %li.tag{'ng-repeat' => 'tag in tags', 'ng-click' => 'remove(tag)'} {{tag}}

    

  .form-actions
    = form.submit 'Опубликовать', class: 'btn btn-primary'
    = link_to 'Отмена', (action_name == 'new') ? root_url : task_path(task), class: 'btn'