= form_for task do |form|
  %fieldset.row-fluid

    = form.label :title, 'Название'
    = form.text_field :title, class: 'span12'

    = form.label 'Город'
    .well.well-small{'ng-controller' => 'CitySelector', 'ng-init' => "preloadCity('#{task.cid || current_person_cid}')"}    
      %input{'type' => 'hidden', 'name' => 'task[cid]', 'value' => '{{selectedCity().cid}}'}
      %input.span12{'type' => 'search', 'ng-model' => 'search', 'ng-show' => 'displaySearch()', 'placeholder' => 'Поиск города'}
      %ul.unstyled
        %li{'ng-repeat' => 'city in cities()', 'ng-hide' => 'hide(city)'}
          %a{'href' => '#', 'ng-click' => 'select(city)'} {{city.title}} {{city.region}} {{city.area}}

    = form.label :description, 'Описание'
    = form.text_area :description, rows: 6, class: 'span12'
    
    = form.label :tag_list, 'Список тегов'
    = form.text_field :tag_list, class: 'span12'

  .form-actions
    = form.submit 'Опубликовать', class: 'btn btn-primary'
    = link_to 'Отмена', (action_name == 'new') ? root_url : task_path(task), class: 'btn'