= form_for :query, method: :get do |form|
  .row-fluid
    .span3{"style" => "position: relative", "ng-init" => "preloadCity(#{current_person_cid})"}
      .btn-group
        %a.btn.dropdown-toggle{"href" => "#", "ng-click" => "cityComboBoxOpen = !cityComboBoxOpen", "ng-class" => "activeIf(cityComboBoxOpen)"}
          {{selectedCity.title}}
          %span.caret
        %ul.dropdown-menu{"style" => true, "ng-show" => 'cityComboBoxOpen'}
          %li
            %input{"type" => "text", "ng-model" => "citySearch", "placeholder" => 'Введите город', "style" => "width: "}
          %li{"ng-repeat" => "city in loadedCities"}
            %a{"href" => "#", "ng-click" => "selectCity(city)"}
              %ul.unstyled
                %li {{city.title}}
                %li
                  %small {{city.region}}
            %hr
          
          
    .span8{'ng-init' => "loadTags(#{tag_list.to_json})"}
      %span.selected_tag{'ng-repeat' => 'tag in selectedTags', 'ng-click' => 'deselectTag(tag)'} {{tag}}
      %a{"href" => "#", "ng-click" => "clearTags()", "ng-show" => "selectedTags.length > 0"}Очистить
    .span1
      .btn-group
        %a.btn-user.btn.dropdown-toggle{"href" => "#", "ng-click" => "userMenuOpen = !userMenuOpen", "ng-class" => "activeIf(userMenuOpen)"}
          %img{"src" => "{{person(#{current_person_uid}).photo}}"}
          %span.caret
        %ul.dropdown-menu{"style" => true, "ng-show" => 'userMenuOpen', "style" => "right: 0; left: auto"}
          %li
            %a{"href" => root_path(query: {scope: 'own'})} Мои объявления
          %li
            %a{"href" => references_path} Мои рекомендации
      
  %br
  
  .row-fluid{"ng-show" => "selectedTags.length < 3"}
    %input.span12{"type" => "text", "ng-model" => "tagSearch", "placeholder" => "Поиск тега"}
  .row-fluid{"ng-show" => "selectedTags.length < 3"}
    %ul.inline.tags-cloud
      %li.tag{'ng-repeat' => 'tag in tags | filter:tagSearch', "ng-click" => "selectTag(tag)"} {{tag}}
  .row-fluid
    .span12
      %center{'ng-init' => "scope = '#{scope}'"}
        %input{'type' => 'hidden', 'name' => 'query[scope]', 'value' => '{{scope}}'}
        .btn-group{"ng-init" => "scope = 'all'"}
          %a.btn{'ng-click' => 'scope = "all"', 'ng-class' => 'activeIf("all" == scope)'} Все объявления
          %a.btn{'ng-click' => 'scope = "friends"', 'ng-class' => 'activeIf("friends" == scope)'} Только друзей
          
          
          
%hr
.pull-right= link_to 'Добавить объявление', new_task_path, class: 'btn btn-primary'
%p.lead Порекоммендуйте друга...
