%menu  
  = link_to 'New reference', new_task_reference_path(task)
  = link_to 'Back to index of tasks', root_path
  - if task.requester_uid == current_person_uid
    = link_to 'Edit', edit_task_path(task)
    = form_for task, method: :delete do |form|
      = form.submit 'Delete'
