= form_for task do |form|
  %fieldset
    = form.label :title
    = form.text_field :title
  %fieldset
    = form.label :description
    = form.text_area :description
  %fieldset
    = form.label :tag_list
    = form.text_field :tag_list
  %fieldset{'ng-controller' => 'CitySelector', 'ng-init' => "preloadCity('#{task.cid || current_person_cid}')"}
    = form.label 'City'
    %input{'type' => 'search', 'ng-model' => 'search', 'ng-show' => 'displaySearch()'}
    %ul
      %li{'ng-repeat' => 'city in cities()', 'ng-hide' => 'hide(city)'}
        %input{'type' => 'checkbox', 'ng-model' => 'city.selected', 'id' => '{{city.cid}}', 'name' => 'task[cid]', 'value' => '{{city.cid}}'}
        %label{'for' => '{{city.cid}}'} {{city.title}} {{city.region}} {{city.area}}
  %footer.form
    = form.submit 'Опубликовать', class: 'submit'
    = link_to 'Вернуться к списку объявлений', (action_name == 'new') ? root_url : task_path(task), class: 'back'