%section{'ng-controller' => 'People', class: 'user-block'}
  %div.user-card
    %img{src: "{{person(#{task.requester_uid}).photo}}"}
    %div.deep-desc
      %p.title= link_to task.title, task_path(task)
      %div.tags
        - task.tags.each do |tag|
          %li= tag

    %div.user-desc.feedback-desc
      %div.name
        {{person(#{task.requester_uid}).first_name}} {{person(#{task.requester_uid}).nickname}} {{person(#{task.requester_uid}).last_name}}
      %div.created_date
        %span #{task.created_at}
      %div.created_time
        %span #{task.created_at}
      %span.city= task.cid
  
  %div.counter 
    %div.double_line
    %div.stats
      %div.count
        #{task.views_count}
      %div.references
        #{task.references.count}
  %p= task.description