%menu.card-menu  
  = link_to 'Рекомендовать себя', new_task_reference_path(task), class: 'btn-vk'
  = link_to 'Рекомендовать друга', new_task_reference_path(task), class: 'btn-vk'
  - if task.requester_uid == current_person_uid
    = link_to 'Редактировать', edit_task_path(task), class: 'btn-vk'
    = form_for task, method: :delete do |form|
      = form.submit 'Удалить', class: 'btn-vk'
  %div.card-footer
    = link_to 'Вернуться к списку объявлений', (action_name == 'new') ? root_url : task_path(task), class: 'back'
