%section{'ng-controller' => 'People'}
  %h1= link_to task.title, task_path(task)
  %p
    %img{src: "{{person(#{task.requester_uid}).photo}}"}
    %a{'href' => "http://vk.com/id#{task.requester_uid}"}
      {{person(#{task.requester_uid}).first_name}} {{person(#{task.requester_uid}).nickname}} {{person(#{task.requester_uid}).last_name}}
    
  
  %p= task.description
  %p Views #{task.views_count}, References #{task.references.count}, Created at #{task.created_at}
  %p
    - task.tags.each do |tag|
      %i= tag

  %hr