%section.reference{'ng-controller' => 'People'}
  %h1 Рекомендации
  %div.reference_item
    %img{src: "{{person(#{reference.referencer_uid}).photo}}"}
    %div.name
      {{person(#{reference.referencer_uid}).first_name}}
      {{person(#{reference.referencer_uid}).nickname}}
      {{person(#{reference.referencer_uid}).last_name}}
  - unless reference.referencer_uid == reference.referenced_uid
    %div.middle Рекомендует
    %div.reference_item
      %img{src: "{{person(#{reference.referenced_uid}).photo}}"}
      %div.name
        {{person(#{reference.referenced_uid}).first_name}}
        {{person(#{reference.referenced_uid}).nickname}}
        {{person(#{reference.referenced_uid}).last_name}}

  %p.description
    = reference.description
    - if reference.referencer_uid == current_person_uid
      = form_for reference, method: :delete do |form|
        %div.submit-delete
          = form.submit ''

