= link_to 'Back to index of tasks', root_path


%h1 I recommed
- @references.where(referencer_uid: current_person_uid).each do |reference|
  = render 'tasks/task', task: reference.task
  = render 'reference', reference: reference
  
%h1 I recommeded
- @references.where(:referenced_uid => current_person_uid, :referencer_uid.ne => current_person_uid).each do |reference|
  = render 'tasks/task', task: reference.task
  = render 'reference', reference: reference