%div{'ng-controller' => 'Static'}
  = render 'tasks/units/task', task: @task
  
= form_for @reference, url: task_references_path(@task) do |form|
  %fieldset.row-fluid
    - if params[:recommended] == 'self'
      %input{'type' => 'hidden', 'name' => 'reference[referenced_uid]', 'value' => current_person_uid}
    - if params[:recommended] == 'friend'
      %div{'ng-controller' => 'FriendSelect', 'ng-init' => "loadFriends(#{current_person_uid})"}
        %p Рекомендовать друга
        .well.well-small{'ng-show' => 'friends.length > 1'}
          %input{'type' => 'hidden', 'name' => 'reference[referenced_uid]', 'value' => '{{selectedFriend().uid}}'}  
          %input.span12{'type' => 'search', 'ng-model' => 'search', 'placeholder' => 'Поиск друга', 'ng-show' => "selectedFriend() == undefined"}
          %ul.unstyled.friends
            %li{'ng-repeat' => 'friend in friends | filter:search', 'ng-show' => 'show(friend)', 'ng-click' => "select(friend)"}
              %img{src: '{{friend.photo}}'}
              {{friend.first_name}} {{friend.nickname}} {{friend.last_name}}

    = form.label :description, 'Оставить комментарий'
    = form.text_area :description, rows: 6, class: 'span12'

  .form-actions
    = form.submit 'Рекомендовать', class: 'btn btn-primary'
    = link_to 'Отмена', task_path(@task), class: 'btn'  

= render 'layouts/back'