%div{'ng-controller' => 'Static'}
  = render 'tasks/units/task', task: @task
  
= form_for @reference, url: task_references_path(@task) do |form|
  %fieldset.row-fluid
    = form.label :description, 'Рекоммендация'
    = form.text_area :description, rows: 6, class: 'span12'
    = form.hidden_field :referenced_uid, value: current_person_uid

    %div{'ng-controller' => 'FriendSelect'}
      %a{'ng-click' => "loadFriends(#{current_person_uid})", 'href' => '#', 'ng-hide' => 'friends.length > 1'} Рекоммендовать друга
      %p{'ng-show' => 'friends.length > 1'} Рекоммендуемый
      .well.well-small{'ng-show' => 'friends.length > 1'}
        %div{'ng-switch' => true, 'on' => 'selectedFriend()'}
          %input{'ng-switch-default' => true, 'type' => 'hidden', 'name' => 'reference[referenced_uid]', 'value' => '{{selectedFriend().uid}}'}
          %input{'ng-switch-when' => 'undefined', 'type' => 'hidden', 'name' => 'reference[referenced_uid]', 'value' => current_person_uid}
        %input.span12{'type' => 'search', 'ng-model' => 'search', 'placeholder' => 'Поиск друга', 'ng-show' => 'displaySearch()'}
        %ul.unstyled.friends
          %li{'ng-repeat' => 'friend in friends | filter:search', 'ng-show' => 'show(friend)', 'ng-click' => "select(friend)"}
            %img{src: '{{friend.photo}}'}
            {{friend.first_name}} {{friend.nickname}} {{friend.last_name}}
      %a{'ng-click' => 'friends = []', 'ng-show' => 'friends.length > 1', 'href' => '#'} Рекоммендовать себя

  .form-actions
    = form.submit 'Опубликовать', class: 'btn btn-primary'
    = link_to 'Отмена', task_path(@task), class: 'btn'  
